[Unit]
Description=Mitsubishi Outlander PHEV MQTT proxy
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/local/bin/phev2mqtt client mqtt --mqtt_server tcp://192.168.0.88:1883
WatchdogSec=600s
DynamicUser=1
Environment=GOMAXPROCS=1
LimitMEMLOCK=0
LockPersonality=true
PrivateDevices=true
PrivateUsers=yes
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=noaccess
Restart=always
RestartSec=5
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged
Type=exec
UMask=0077

[Install]
WantedBy=multi-user.target
